<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a300cem_android_assignment">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".Volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserProfile"></activity>
        <activity android:name=".Wareable.Wareable" />
        <activity android:name=".ExistsGroupChatroomList" />
        <activity android:name=".GroupChatroomList2" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuvYl_heTaR4YodYHbZt9aUX3fkRUeLuw" />

        <activity android:name=".GoogleMap.GMapCurrLocation" />
        <activity android:name=".NyGroupChatroomList" />
        <activity android:name=".CreateChatRoom" />
        <activity android:name=".GroupChatActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Volley.VolleyTest" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <meta-data
                android:name="com.google.android.actions"
                android:resource="@xml/network_security_config" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>